.about-us {
  margin-bottom: 55px;
}

.about-us__title {
  @include bold-text(25px);
  @include reset-margin-padding;
  color: $color-black;
}

.about-us__list {
  @include reset-list;
}

.about-us__item {
  @include bold-text(17px, 20px);
  text-align: left;
  color: $color-black;

  padding-top: 85px;
}

@media screen and (min-width: $tablet-width) {
  .about-us {
    margin-bottom: 70px;
  }

  .about-us__title {
    font-size: 43px;
    line-height: 50px;
  }

  .about-us__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .about-us__item {
    font-size: 20px;
    line-height: 22px;

    width: 295px;
    margin-right: 37px;
    margin-bottom: 10px;
    padding-top: 102px;
  }

  .about-us__item:nth-child(4) {
    order: 1;
  }

  .about-us__item:nth-child(2) {
    order: 2;
  }

  .about-us__item:nth-child(5) {
    order: 3;
  }

  .about-us__item:nth-child(3) {
    order: 4;
  }

  .about-us__item:nth-child(6) {
    order: 5;
  }
}

@media screen and (min-width: $desktop-width) {
  .about-us {
    margin-bottom: 80px;
  }

  .about-us__wrapper {
    margin-left: 170px;
    margin-right: 200px;
  }

  .about-us__title {
    font-size: 53px;
    line-height: 57px;
  }
}
