.button {
  padding: 16px 0;
  text-align: center;
  font-weight: $font-weight-bold;
  text-transform: uppercase;
  color: $color-grey-brown;
  background-color: $color-white;
  border: solid 2px $color-grey-brown;
}
